variable "f5xc_api_p12_file" {
  type    = string
  default = "./api-creds.p12"
}

variable "f5xc_api_url" {
  type    = string
  default = "https://playground.staging.volterra.us/api"
}

module "virtual_site" {
  source                 = "./modules/f5xc/site/virtual"
  f5xc_api_p12_file      = var.f5xc_api_p12_file
  f5xc_api_url           = var.f5xc_api_url
  f5xc_namespace         = "shared"
  f5xc_virtual_site_name = "virtual-site-01"
  f5xc_virtual_site_type = "CUSTOMER_EDGE"
}

module "site_mesh_group" {
  source                           = "./modules/f5xc/site-mesh-group"
  f5xc_api_p12_file                = var.f5xc_api_p12_file
  f5xc_api_url                     = var.f5xc_api_url
  f5xc_namespace                   = "shared"
  f5xc_site_2_site_connection_type = "full_mesh"
  f5xc_site_mesh_group_name        = "site-mesh-group-01"
  f5xc_tenant                      = "playground"
  virtual_site_name                = m
    name = volterra_virtual_site.vs.name
    namespace = "shared"
  }
}